{
  "data-root": "{{ docker_data_dir | default('/var/lib/docker') }}",
  "default-shm-size": "2048M",
  "metrics-addr": "127.0.0.1:9323",
  "experimental": true,
  "dns": ["{{ docker_dns_server | default('8.8.8.8') }}"],
  "log-driver": "json-file",  
  "log-opts": {
    "max-size": "1000m",
    "max-file": "3"  
  },
  "default-ulimits": {
     "nofile": {
            "Name": "nofile",
            "Hard": 665536,
            "Soft": 665536
     },
    "memlock": {
            "Name": "memlock",
            "Hard": -1,
            "Soft": -1
    }
  },
  "default-address-pools":
  [
    {
     "base":"172.22.0.0/16",
     "size":24
    }
  ]
}
