global:
  # How frequently to scrape targets by default.
  scrape_interval: 30s

  # How long until a scrape request times out.
  scrape_timeout: 15s

  # How frequently to evaluate rules.
  evaluation_interval: 1m

  # The labels to add to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'prometheus-monitor'

scrape_configs:

  - job_name: 'prometheus'
    scrape_interval: 120s
    scrape_timeout:  60s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: "exporter_node"
    scrape_interval: 15s
    file_sd_configs:
      - files:
        - '/etc/prometheus/file_sd_configs/{{ prometheus_server_exporter_node_inventory_file }}'

  - job_name: "exporter_mysql"
    scrape_interval: 15s
    file_sd_configs:
      - files:
        - '/etc/prometheus/file_sd_configs/exporter_mysql/{{ prometheus_server_exporter_mysql_inventory_file }}'

  - job_name: "cadvisor"
    scrape_interval: 80s
    file_sd_configs:
      - files:
        - '/etc/prometheus/file_sd_configs/{{ prometheus_server_exporter_cadvisor_inventory_file }}'
        
  - job_name: 'exporter_blackbox'
    scrape_interval: 60s
    scrape_timeout:  20s
    metrics_path: /probe
    params:
      module: [http_2xx]
    file_sd_configs:
      - files:
        - '/etc/prometheus/file_sd_configs/{{ prometheus_server_exporter_blackbox_inventory_file }}'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: expoter-blackbox:9115

  - job_name: 'exporter_icmp'
    scrape_interval: 15s
    scrape_timeout:  5s
    metrics_path: /probe
    params:
      module: [icmp]
    file_sd_configs:
      - files:
        - '/etc/prometheus/file_sd_configs/{{ prometheus_server_exporter_icmp_inventory_file }}'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: expoter-blackbox:9115

  - job_name: 'exporter_domain'
    metrics_path: /probe
    scrape_interval: 1800s
    scrape_timeout:  90s
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: domain
      - target_label: __address__
        replacement: exporter-domain:9222
    file_sd_configs:
      - files:
        - '/etc/prometheus/file_sd_configs/{{ prometheus_server_exporter_domain_inventory_file }}'


# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
      - targets: ["alertmanager:9093"]
      
rule_files:
   - "/etc/alertmanager/rules/*.yml"
