version: '2.0'

services:
  nginx:
    image: "{{ docker_image_nginx_exporter_proxy }}"
    restart: always
    ports:
      - "{{ exporter_node_port }}:9100"
      - "{{ exporter_cadvisor_port }}:9325"
    environment:
      EXPORTERS_SCRAPE_ALLOW_NET: "{{ exporter_scrape_allow_hosts }}"
    mem_limit: 128M
    networks:
      exporters-network:
        ipv4_address: 172.45.0.10
        aliases:
          - nginx-expoter

  exporter_node:
    image: "{{ docker_image_exporter_node }}"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
      - '--web.listen-address=0.0.0.0:{{ exporter_node_port }}'
    restart: unless-stopped
    mem_limit: 128M
    networks:
      exporters-network:
        ipv4_address: 172.45.0.11
        aliases:
          - node-exporter
    labels:
      org.label-schema.group: "monitoring"

  cadvisor:
    image: "{{ docker_image_exporter_cadvisor }}"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /sys/fs/cgroup:/cgroup:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /dev/disk/:/dev/disk:ro
    restart: unless-stopped
    mem_limit: 128M
    networks:
      exporters-network:
        ipv4_address: 172.45.0.12
        aliases:
          - cadvisor-exporter
    labels:
      org.label-schema.group: "monitoring"



networks:
  exporters-network:
    ipam:
      config:
        - subnet: 172.45.0.0/24
